{% extends 'AppBundle::layout.html.twig' %}
{% block title %}
    Pfffff! category!
{% endblock %}
{% block styles %}
    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('bundles/app/css/local.css') }}"/>
{% endblock %}
{% block content %}
    {{ "YAZ" | trans }}
    {{ form(form) }}
    {% if cart %}
        {{ dump(cart) }}
        {% for item in cart.getCartItems %}
        {{ dump(item) }}
            {% endfor %}
        {% endif %}


{% endblock %}