<!DOCTYPE html>
<html>
    <head>
        <title>
            {% block title %}
                Pfffff!
            {% endblock %}
        </title>
        {% stylesheets  output="css/bla.css"
        '%kernel.root_dir%/../vendor/twbs/bootstrap/less/bootstrap.less'
        'bundles/app/css/style.css'
        %}

        {% endstylesheets %}
        <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('css/bla.css') }}"/>
        {#<link rel="stylesheet" type="text/css" media="screen" href="{{ asset('bundles/app/css/style.css') }}"/>#}
        {% block styles %}
        {% endblock %}
    </head>
    <body>
        <h1>Dla Bla!</h1>
        <div class="wrap">
            <nav class="navbar-inverse navbar-fixed-top navbar">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                                aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        Add a comment to this line
                        <a class="navbar-brand" href="#">The best Project Ever</a>
                    </div>
                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="navbar-nav navbar-right nav">
                            <li class="first">
                            </li>
                                {% if is_granted('ROLE_ADMIN') %}
                                    <li class="last">
                                        <a href="{{ path('admin_index') }}">Админка</a>
                                    </li>
                                {% endif %}
                            <li>
                                {% if not app.user %}
                                    <form class="navbar-form navbar-right" action="{{ path('login_check') }}" method="post">
                                        <div class="form-group">
                                            <input type="text" id="username" name="_username" value="" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <input type="password" id="password" name="_password" class="form-control">
                                        </div>
                                        <button type="submit" class="btn btn-success">Sign in</button>
                                    </form>
                                {% else %}
                                    <a href="/logout">Log out</a>
                                {% endif %}
                            </li>
                        </ul>
                    </div><!--/.navbar-collapse -->
                </div>
            </nav>
            <div id="content" class="container">
                {% for flashMessage in app.session.flashbag.get('message') %}
                    <div class="alert alert-success flash_notice">
                        {{ flashMessage }}
                    </div>
                {% endfor %}

                {% for flashMessage in app.session.flashbag.get('error') %}
                    <div class="alert alert-danger flash_error">
                        {{ flashMessage }}
                    </div>
                {% endfor %}
                {% block content %}{% endblock %}
            </div>
        </div>
    </body>
</html>