{% extends 'AppBundle::layout.html.twig' %}
{% block title %}
    Pfffff! category!
{% endblock %}
{% block styles %}
    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('bundles/app/css/local.css') }}"/>
{% endblock %}
{% block content %}
    {{ "YAZ" | trans }}
    {% for product in products %}
        {{ product.title }}<br/>
    {% endfor %}
    {{ dump(products) }}

{% endblock %}