{% extends 'AppBundle::layout.html.twig' %}
{% block title %}
    Admin Product
{% endblock %}
{% block styles %}
    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('bundles/app/css/local.css') }}"/>
{% endblock %}
{% block content %}

    {{ dump(products) }}

{% endblock %}