{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
    <h2>Admin Product form</h2>
    {{ form_start(form, {'attr' : {'novalidate':'novalidate'}}) }}
    {{ form_end(form) }}
{% endblock %}